/* PLANET GRID */

.planet-grid {
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-position: center;
}

.planet-grid1 {
	-fx-background-image: url("background1.jpg");
}

.planet-grid2 {
	-fx-background-image: url("background2.png");
}

.planet-grid3 {
	-fx-background-image: url("background3.jpg");
}

.planet-grid4 {
	-fx-background-image: url("background4.jpg");
}


/* PLANET BUTTONS */

.space-button:hover {
	-fx-background-color: rgb(255, 255, 255, 0.4);
}

.space-button {
	-fx-border-radius: 25%;
	-fx-border-width: 2px;

	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-radius: 25%;
}

.planet-button1 {
	-fx-background-image: url("planet1.png");
}

.planet-button2 {
	-fx-background-image: url("planet2.png");
}

.planet-button3 {
	-fx-background-image: url("planet3.png");
}

.planet-button4 {
	-fx-background-image: url("planet4.png");
}

/* TURN BAR */

.turn-bar {
}


